<div class="printer">
    <h2 class="printer__title">Xerox_AltaLink_C8035</h2>
    {{#each printer}}
     <form method="post">
         <label for="">{{supply}}: {{get-quantity code @root.counts}}</label>
         <input type="number" name="quantity" min="0" max="30" value="0">
         <input type="hidden" name="code" value="{{code}}">
         <button class="btn btn--add" data-action="add">add</button>
         <button class="btn btn--remove" data-action="remove">remove</button>
    </form>
    {{/each}}
</div>
