<nav class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="/printers" class="nav__link">Printers</a></li>
        <li class="nav__item"><a href="/supplies" class="nav__link">Supplies</a></li>
    </ul>
</nav>
