<div class="supply">

    <form class="form supply__form">
        <p class="supply__title">title</p>
        <p class="supply__subtitle">counter</p>
        <input type="text" class="supply__input" name="quantity">
        <input type="hidden" name="code" value="somecode">
        <button class="supply__btn supply__btn--add">add</button>
        <button class="supply__btn supply__btn--remove">remove</button>
    </form>

</div>
