<h1>printers page</h1>

<ul class="printers">
        {{#each printers}}
         <li class="printers__item printer">
            <p>Title: {{title}}</p>
            <p>Ip: {{ip}}</p>
            <p>History... </p>
             <a href='/printers/{{_id}}'>Manage</a>
         </li>
        {{/each}}


</ul>